html, body 
	font-family: $base-font-family
	line-height: $base-line-height
	font-weight: $font-weight-normal

@function leading($value, $multiplier: .5)
	@return 1 + $multiplier * $value

@for $i from 0 through 3
	.leading-#{$i}
		line-height: leading($i) !important

@function fs( $level, $ratio: $font-ratio) 
	$size: 1rem
	@if ($level == 0)
		@return $size
	@for $i from 1 through $level
		$size: $size * (1 + $ratio)

	@return $size

@for $i from 0 through 6
	.is-fs-#{$i}
		+bp-responsive
			font-size: fs($i) !important

.is-tracked-caps
	text-transform: uppercase
	letter-spacing: map-get($font-tracking, 'loose') 

.is-top
	z-index: 99999

b,
strong,
.is-strong
	font-weight: 500 !important

.circle
	border-radius: 50%

.is-flex-end
	justify-content: flex-end