$font-ratio: (1/3);
$font-sans: 'Rubik', Helevetica, Arial, sans-serif;
$font-serif: $font-sans;

$color-primary: hsl(245, 15%, 31%);
// $color-primary: hsl(135, 21%, 38%);
$color-accent: hsl(136, 17%, 57%);
$color-accent-light: hsl(136, 61%, 88%);
$color-tertiary: hsl(139, 37%, 85%);

$base-font-small: .75rem;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 500;
$font-weight-headings: 500;

$colors: (
	white: white, 
	offwhite: grey(3), 
	light: grey(30), 
	grey: grey(50), 
	black: black, 
	accent: $color-accent, 
	accent-light: $color-accent-light, 
	primary: $color-primary, 
	tertiary: $color-tertiary
);

$font-tracking: (
	'tight': -0.025em, 
	'loose': 0.2125em
);

$button-radius: 0;