---
layout: base
---

<article class="post">

	<header id="page-header" class="page-header pt4 container-pad">
		<p class="is-size-7 is-tracked-caps pb1 has-text-accent">
			{{page.date | date: "%Y / %m"}}
		</p>

		<h1 class="is-size-1 has-leading-1">{{page.title}}</h1>

		{% if page.description %}
		<p class="has-leading-2">{{page.description}}</p>
		{% endif %}
	</header>

	<section class="post-body pv4 content container-pad">
		{% if page.image.src %}
		<figure class="m0 p0">
			<img src="{{page.image.src}}" alt="{{page.image.alt | default: page.title }}">
			{% if page.image.caption %}
				<figcaption>{{page.image.caption}}</figcaption>
			{% endif %}
		</figure>
		{% endif %}

		{{content}}
		<footer class="pt4">
			<nav class="tags">
			{% for tag in page.tags %}
				<a href="/tags/{{tag | slugify}}" class="tag button is-tracked-caps is-size-8">{{tag}}</a>	
			{% endfor %}
			</nav>
		</footer>
	</section>

	{% if page.previous.url or page.next.url %}
	<footer class="post-footer pv4 container-pad">
		<nav class="content-width-base">
			{% if page.next.url %}{% assign link = page.next %}{% endif %}
			{% if page.previous.url %}{% assign link = page.previous %}{% endif %}
			<a href="{{link.url}}" class="is-flex is-centered is-spread is-link-wrapper has-bg-offwhite p1 has-text-white-hover has-bg-accent-hover">
				<span class="is-fs-0 m0">{{link.title}}</span>
				<span class="pl1 m0">&rarr;</span>
			</a>
		</nav>
	</footer>
	{% endif %}
</article>
