---
layout: base
---
<article class="post container-pad has-padding-vert-xl">
	<header class="page-header">
		<p class="is-small is-tracked-caps is-marginless is-color-accent">
			{{page.date | date: "%Y / %m"}}
			{% comment %}
				&emsp;|&emsp;
				{% for tag in page.tags %}
					<a href="#" class="is-link-wrapper is-tracked-caps is-small is-color-accent has-margin-right is-color-grey-hover">#{{tag}}</a>
				{% endfor %}
			{% endcomment %}
		</p>
		<h1 class="is-marginless leading-1 is-fs-3 is-fs-6-md">{{page.title}}</h1>
		{% if page.description %}
			<p class="leading-2">{{page.description}}</p>
		{% endif %}
	</header>
	<section class="post-body has-margin-top-large">
		{{content}}
	</section>
</article>
